{% extends "base.html" %}
{% load static %}

{% block content %}
  <section class="header-section">
    <div class="nav-icons">
      <a href="#" class="instagram"><img src="{% static 'images/instagram.png' %}"></a>
      <a href="#" class="instagram"><img src="{% static 'images/gmail.png' %}"></a>
      <a href="#" class="instagram"><img src="{% static 'images/broken.png' %}"></a>

    </div>
    <div class="header" id="header">
      <video id="bgVideo" preload="true" autoplay loop muted>
        <source src="{% static 'images/MOSHED-2020-11-15-20-59-58.webm' %}" type="video/webm">
      </video>
      <h2 class="header-title">Next Steam Sale</h2>
      <h3 class="sale-name">{{ sale.get_name_display }}</h3>
      <div class="countdown">
        <div class="countdown-time sale-date" data-date="{{ sale.sale_date|date:"F d Y" }}" style="color: white"></div>
      </div>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="head-btn">
        Subscribe
      </button>
      <dialog class="mdl-dialog">
        <h4 class="mdl-dialog__title">Need Latest News About Sales?</h4>
        <div class="mdl-dialog__content">
          <p>
            Track awesome offers from steam and other platforms just by entering your email!
          </p>
        </div>
        <div class="mdl-dialog__actions">
          <form action="#" class="subscribe-form">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="sample3">
              <label class="mdl-textfield__label" for="sample3">E-mail</label>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                    id="sub">
              Submit
            </button>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect close">
              Dismiss
            </button>
          </form>
        </div>
      </dialog>
    </div>
  </section>
  <div class="astrodivider">
    <div class="astrodividermask"></div>
    <span>
        <img src="{% static 'images/steam.png' %}">
      </span>
  </div>
  <section class="giveaway-section">
    <h3 class="giveaway-title" id="giveaway">Get Monthly Giveaway</h3>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--7-col mdl-cell--8-col-tablet mdl-cell--4-col-phone giveaway-item">
        <img src="{% static 'images/csgo.jpeg' %}">
        <h4>Counter Strike Global Offensive</h4>
        <ul class="item-info">
          <li><span>Giveaway Status:&nbsp;</span><span style="color: green">Active</span></li>
          <li><span>Giveaway Ends In:&nbsp;</span><span>22th Nov</span></li>
          <li><span>Winner Will Be Announced In:&nbsp;</span><span>5 Days</span></li>
        </ul>

      </div>
      <div class="mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet mdl-cell--4-col-phone how-works">
        <h3>How It Works</h3>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
          opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
          packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
          will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
          accident, sometimes on purpose (injected humour and the like).
        </p>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                id="giveaway-btn">
          Take a chance !
        </button>
      </div>
    </div>
  </section>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script>
    var countdown = $('.countdown-time');
    createTimeCicles();
    $(window).on('resize', windowSize);

    function windowSize() {
      countdown.TimeCircles().destroy();
      createTimeCicles();
      countdown.on('webkitAnimationEnd mozAnimationEnd oAnimationEnd animationEnd', function () {
        countdown.removeClass('animated bounceIn');
      });
    }

    function createTimeCicles() {
      countdown.addClass('animated bounceIn');
      countdown.TimeCircles({
        fg_width: 0.015,
        bg_width: 0.1,
        circle_bg_color: '#ffffff',
        time: {
          Days: {
            color: '#b261c9'
          },
          Hours: {
            color: '#b261c9'
          },
          Minutes: {
            color: '#b261c9'
          },
          Seconds: {
            color: '#b261c9'
          }
        }
      });
      countdown.on('webkitAnimationEnd mozAnimationEnd oAnimationEnd animationEnd', function () {
        countdown.removeClass('animated bounceIn');
      });
    }
  </script>

{% endblock %}
