{% extends "base.html" %}
{% load static %}

{% block extra_head %}
  <title>NextSteamSale | Find out when is the next steam sale and plan for it!</title>
  <meta name="description" content="{{ description }}">
  <meta content="index,follow" name="robots"/>
  <meta content="Next Steam Sale" name="application-name"/>
  <meta content=">NextSteamSale | find out when is the next steam sale and plan for it!" itemprop="name"/>
  <meta content="{{ description }}" itemprop="description"/>
  {% include 'home/includes/schema.html' %}
{% endblock %}
{% block content %}
  <div class="loader" id="loader-6">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="site-wrapper">
    <section class="header-section">
      {% if sale.in_sale %}
        <canvas id="birthday"></canvas>
      {% endif %}
      <a href="#" id="next-sale"></a>
      <div class="nav-icons">
        <a class="gmail" href="mailto:test@example.com" target="_top">
          <img src="{% static 'images/gmail.png' %}" alt="gmail">
        </a>
        <a href="#" class="instagram"><img src="{% static 'images/broken.png' %}" alt="privacy"></a>
      </div>
      <div class="header" id="header">
        <video id="bgVideo" preload="true" autoplay loop muted playsinline>
          <source src="{% static 'images/steam.mp4' %}" type="video/mp4">
          <source src="{% static 'images/steam.webm' %}" type="video/webm">
        </video>
        <img id="headgif" src="{% static 'images/steam-head.png' %}" alt="steam">
        <h2 class="header-title">Next Steam Sales</h2>
        <h3 class="sale-name">{{ sale.name }}</h3>
      <h5 class="sale-date_s">{{ sale.sale_date|date:"F d Y" }}</h5>

        {% if not sale.in_sale %}
          <div class="countdown">
            <div class="countdown-time sale-date" data-date="{{ sale.sale_date|date:"F d Y" }}"
                 style="color: white"></div>
          </div>
        {% else %}
          <div class="glow-text">
            <span>S</span>
            <span>A</span>
            <span>L</span>
            <span>E</span>
            <span>&nbsp;</span>
            <span>S</span>
            <span>T</span>
            <span>A</span>
            <span>R</span>
            <span>T</span>
            <span>E</span>
            <span>D</span>
          </div>
        {% endif %}
        <button class="mdl-button mdl-button--accent mdl-button--raised" id="head-btn">
          Subscribe
        </button>
        <!-- The Modal -->
        <div id="headModal" class="modal">
          <!-- Modal content -->
          <div class="modal-content" id="modalcon1">
            <span class="close">&times;</span>
            {% if user is None or not user.is_subscriber %}
              <h4 class="mdl-dialog__title" id="diatitle1">Need Latest News About Sales?</h4>
              <div class="mdl-dialog__content" id="diacon1">
                <p>
                  Track awesome offers and giveaways just by entering your email!
                </p>
              </div>
              <div class="mdl-dialog__actions" id="diaac1">
                <form action="{{ newsletter_api_url }}" class="subscribe-form" id="subscribe-form_top">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="email" id="emailsub1" name="emailsub1">
                    <label class="mdl-textfield__label" for="emailsub1">E-mail</label>
                  </div>
                  <br/>
                  <button class="mdl-button mdl-button--accent mdl-button--raised" id="sub">
                    Submit
                  </button>
                </form>
                {% csrf_token %}
              </div>
              <h4 class="mdl-dialog__title" id="submsg1">Thank You!</h4>
              <div class="mdl-dialog__content" id="subcon1">
                <p>
                  You will be informed about incredible offers !
                </p>
              </div>
            {% else %}
              <h4 class="mdl-dialog__title">You Are In The Team!</h4>
              <div class="mdl-dialog__content">
                <p>
                  You have subscribe to newsletter already!
                </p>
              </div>
            {% endif %}
          </div>

        </div>
        <div class="arrow">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </section>
    <div class="astrodivider">
      <div class="astrodividermask"></div>
      <span>
        <img src="{% static 'images/steam.png' %}" alt="steam">
      </span>
    </div>
    <section class="giveaway-section">
      <a href="#" id="steam-giveaway"></a>
      <h3 class="giveaway-title" id="giveaway">Get Monthly Giveaway</h3>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--7-col mdl-cell--8-col-tablet mdl-cell--4-col-phone giveaway-item">
          <img src="{{ giveaway.image.url }}" alt="{{ giveaway.name }} giveaway">
          <h4>{{ giveaway.name }}</h4>
          <ul class="item-info">
            <li><span>Giveaway Status:&nbsp;</span>
              {% if giveaway.is_enable %}
                <span style="color: #00d600">Active</span>
              {% else %}
                <span style="color: red">Expired</span>
              {% endif %}
            </li>
            <li><span>Giveaway Ends In:&nbsp;</span><span>{{ giveaway.end_date }}</span></li>
            <li><span>Winner Will Be Announced In:&nbsp;</span><span>{{ giveaway.announce_date }}</span>
            </li>
          </ul>
          {% if giveaway.is_enable %}
            <button class="mdl-button mdl-button--accent mdl-button--raised" id="giveaway-btn">
              Take a chance !
            </button>
            <!-- The Modal -->
            <div id="giveawayModal" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <span class="close">&times;</span>
                {% if user is None or user.registered_giveaways.last.id != giveaway.id %}
                  <h4 class="mdl-dialog__title" id="givdiatitle">Register For The giveaway now!</h4>
                  <div class="mdl-dialog__content" id="givdiacon">
                    <p>
                      You can register and participate in {{ giveaway.name }} giveaway just by
                      filling
                      out the form below.
                    </p>
                  </div>
                  <div class="mdl-dialog__actions" id="givdiaac">
                    <form action="{{ giveaway_api_url }}" class="giveaway-form"
                          id="giveaway-form">{% csrf_token %}
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="email" id="email"
                               name="email">
                        <label class="mdl-textfield__label" for="email">E-mail</label>
                      </div>
                      <br/>
                      <button class="mdl-button mdl-button--accent mdl-button--raised" id="sub">
                        Submit
                      </button>
                    </form>
                  </div>
                  <h4 class="mdl-dialog__title" id="submsg3">You Have Registered For This
                    Giveaway!</h4>
                  <div class="mdl-dialog__content" id="subcon3">
                    <p>
                      your referral link:
                    </p>
                      <span id="reflink"></span>
                      <br/>
                      <button id="copybtn" onclick="copyToClipboard('#reflink')">
                        <img alt="copy" class="copyimg" src="{% static 'images/copy.png' %}">
                      </button>
                    <p style="margin-top: 20px">
                      send the link to your friends to grow your chance up!
                    </p>
                  </div>
                {% else %}
                  <h4 class="mdl-dialog__title">You Have Registered Already!</h4>
                  <div class="mdl-dialog__content">
                    <p>
                      your referral link:
                    </p>
                    {% if user.invitation_code %}
                      <span id="reflink">{{ site.domain }}/?ic={{ user.invitation_code }}</span>
                      <br/>
                      <button id="copybtn" onclick="copyToClipboard('#reflink')">
                        <img alt="copy" class="copyimg" src="{% static 'images/copy.png' %}">
                      </button>
                    {% endif %}
                    <p style="margin-top: 20px">
                      send the link to your friends to grow your chance up!
                    </p>
                  </div>
                {% endif %}
              </div>

            </div>
          {% endif %}

        </div>
        <div class="mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet mdl-cell--4-col-phone how-works">
          <h3>How It Works</h3>
          <p>
            Giveaways are always one of the most exciting things in the world.
            We provide monthly giveaways which can be steam games, gaming hardware, mystery boxes and much
            more
            other
            things!
            Giveaways start in first day of each month and end in 25th day of the month.
            The winner will be announced here, 3 days after the giveaway ending.
            We will contact the winner by email to complete his/her giveaway sending.
            Participating in giveaways is not hard at all.By clicking on "Take a chance!" button and filling
            out
            the form,
            you will be registered for the giveaway and also you will receive a referral link. You can send
            this
            link to
            your friends to invite them to participate in the giveaway too.
            Each person participates by your link, will grow your winning chance up.
          </p>
        </div>
      </div>
    </section>
    <section class="attention-section" id="attention">
      <div class="attention-box">
        <h3>Attention!</h3>
        <div class="attention-content">
          <p class="attention-intro">
            We would be happy if you take your time to read the text below in order to be conscious about
            some
            of the
            important points of our website to keep everything right and clear.
          </p>
          <ul>
            <li>
              Dates of the steam sales are all an estimation based on the data we gathered.
            </li>
            <li>
              If any sale date is confirmed by the Valve Corporation, we append a "confirmed" tag on top
              of
              the sale name.
            </li>
            <li>
              No new registration will be accepted after the giveaway ends.
            </li>
            <li>
              For each new giveaway, you need to register and get a new referral link.
            </li>
            <li>
              NextSteamSales.com will never ask you your steam password.
            </li>
            <li>
              NextSteamSales.com will contact the winner only by email.
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="update-section" id="update">
      <h3 class="update-title">Keep Updated</h3>
      <p class="update-para">
        Thinking about how you can keep being updated about sales, events and giveaways? There is always an easy
        way
        to
        keep track of steam and events news. You can subscribe in our newsletter to receive awesome news about
        steam
        sales, new offers, new updates, upcoming giveaways and much more. Subscribe now and enjoy weekly fresh
        and
        awesome
        news!
      </p>
      <button class="mdl-button mdl-button--accent mdl-button--raised" id="update-btn">
        Subscribe
      </button>
      <!-- The Modal -->
      <div id="updateModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content" id="modalcon2">
          <span class="close">&times;</span>
          {% if user is None or not user.is_subscriber %}
            <h4 class="mdl-dialog__title" id="diatitle2">Need Latest News About Sales?</h4>
            <div class="mdl-dialog__content" id="diacon2">
              <p>
                Track awesome offers and giveaways just by entering your email!
              </p>
            </div>
            <div class="mdl-dialog__actions" id="diaac2">
              <form action="{{ newsletter_api_url }}" class="subscribe-form" id="subscribe-form_bottom">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="email" id="emailsub2" name="emailsub2">
                  <label class="mdl-textfield__label" for="emailsub2">E-mail</label>
                </div>
                <br/>
                <button class="mdl-button mdl-button--accent mdl-button--raised" id="sub">
                  Submit
                </button>
              </form>
              {% csrf_token %}
            </div>
            <h4 class="mdl-dialog__title" id="submsg2">Thank You!</h4>
            <div class="mdl-dialog__content" id="subcon2">
              <p>
                You will be informed about incredible offers !
              </p>
            </div>
          {% else %}
            <h4 class="mdl-dialog__title">You Are In The Team!</h4>
            <div class="mdl-dialog__content">
              <p>
                You have subscribe to newsletter already!
              </p>
            </div>
          {% endif %}
        </div>
      </div>
      <br/>
      <img src="{% static 'images/bell.jpg' %}" alt="subscribe">
    </section>
    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">Next Steam Sale</div>
        <ul class="mdl-mini-footer__link-list">
          <li><a href="#">Privacy & Terms</a></li>
        </ul>
      </div>
    </footer>
  </div>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script>
    var countdown = $('.countdown-time');
    createTimeCicles();
    $(window).on('load', windowSize);

    function windowSize() {
      countdown.TimeCircles().destroy();
      createTimeCicles();
      countdown.on('webkitAnimationEnd mozAnimationEnd oAnimationEnd animationEnd', function () {
        countdown.removeClass('animated bounceIn');
      });
    }

    function createTimeCicles() {
      countdown.addClass('animated bounceIn');
      countdown.TimeCircles({
        fg_width: 0.02,
        bg_width: 0.3,
        circle_bg_color: '#ffffff',
        time: {
          Days: {
            color: '#b261c9'
          },
          Hours: {
            color: '#b261c9'
          },
          Minutes: {
            color: '#b261c9'
          },
          Seconds: {
            color: '#b261c9'
          }
        }
      });
      countdown.on('webkitAnimationEnd mozAnimationEnd oAnimationEnd animationEnd', function () {
        countdown.removeClass('animated bounceIn');
      });
    }
  </script>

{% endblock %}
